<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- LOGIN -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- REGISTRO -->
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>controlador.RegistroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>

    <!-- EDITAR -->
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>controlador.EditarUsuarioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuarioServlet</url-pattern>
    </servlet-mapping>

    <!-- ELIMINAR -->
    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>controlador.EliminarUsuarioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/EliminarUsuarioServlet</url-pattern>
    </servlet-mapping>

    <!-- LOGOUT -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlador.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

</web-app>